{% extends 'base.html' %}
 
{% block style %}{{url_for('static',filename='style/details.css')}} {% endblock %}

{% block content%}
<!--  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 ">
                <img id={{image_id}} class="card-img-top mb-5 mb-md-0" src="" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">Painting Name</h1>
                <div >
                    <span>$45.00</span>
                </div>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                
            </div>
        </div>
    </div>
</section> -->

<div class="row text-center">
  <div id = {{image_id}} class="col-8 painting"></div>
  <div class="col-4 text">
      <div class="small mb-1">SKU: BST-498</div>
      <h1 class="display-5 fw-bolder">Painting Name</h1>
      <div >
          <span>$45.00</span>
      </div>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
  </div>
</div>

{% endblock %}

{% block script %}{{url_for('static',filename='scripts/details.js')}} {% endblock %}
